<div class="toolsRow row">
  <div class="toolsRow__gridToggler">
    <mat-icon aria-hidden="false" aria-label="List icon ">view_list</mat-icon>
    <input
      type="checkbox"
      id="toggle"
      class="checkbox"
      checked
      (change)="onToggleChange($event.target.checked)"
    />
    <label for="toggle" class="switch">
    </label>
    <mat-icon aria-hidden="false" aria-label="Grid icon">view_module</mat-icon>
  </div>
  <div class="toolsRow__search">
    <app-pokemon-search (searchValue)="getFilteredPokemons($event)"></app-pokemon-search>
  </div>
</div>
<div class="row justify-content-around">
  <app-pokemon-card
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
    [gridView]="cardViewToggle"
    (onButtonClick)="onButtonClick($event)"
  ></app-pokemon-card>
</div>

