.card {
  max-width: 220px;
  text-align: center;
}
.cardList {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px 0px;
  min-width: 25vw;
  max-width: 50vw;
  margin: 10px;
  text-align: center;
  span {
    margin: 10px;
  }
  button {
    margin: 10px;
  }
}
.pDamage {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
