<div class="row gradient-border" *ngIf="pokemon">

  <div class="col">
    <img src="../../assets/avatars/{{ pokemon.id }}.png" alt="{{pokemon.name}} image">
  </div>
  <div class="col">
    <div class="row justify-content-center align-items-center">
      <h1>{{pokemon.name|uppercase}}</h1>
      <button mat-icon-button color="primary" aria-label="Edit button" [routerLink]="['/edit/',pokemon.id]">
        <mat-icon aria-hidden="false" aria-label="Edit icon">create</mat-icon>
      </button>
    </div>
    <div class="row description__details">
      <ul>
        <li>Damage: {{pokemon.damage}}</li>
        <li>Date: {{pokemon.date}}</li>
      </ul>
    </div>
    <div class="row description__actions">
      <button mat-raised-button color="primary" (click)="handleCapture()">
        {{ pokemon.captured ? "Release" : "Capture" }}
      </button>
    </div>
  </div>
</div>
<!--  <mat-grid-list cols="2"rowHeight="300px">-->
<!--    <mat-grid-tile rowspan="2"><img src="../../assets/avatars/{{ pokemon.id }}.png" alt="{{pokemon.name}} image"></mat-grid-tile>-->
<!--    <mat-grid-tile>1</mat-grid-tile>-->
<!--    <mat-grid-tile>2</mat-grid-tile>-->
<!--  </mat-grid-list>-->
